html, body {
	height: 100%;
	background-color: #fff;
	font-family: BentonSans-Regular;
}
#root {
	height: 100%;
	background-color: #fff;
	font-family: BentonSans-Regular;
}

.header-icon {
	margin: 13px 0 0 32px;
	float: left;
}
.header-title {
	font-family: BentonSans-Bold;
	font-size: 22px;
	color: #37474f;
	letter-spacing: 0.35px;
	font-weight: bold;
	margin-left: 14px;
	float: left;
}

.upload-page {
	width: 70%;
	margin: 48px auto;
}
.upload-image-box {
	width: 38%;
	margin-right: 2%;
	float: left;
}
.upload-result-box {
	width: 60%;
	float: left;
}
.upload-result-switch {
	position: absolute;
	font-size: 14px;
	margin-bottom: 24px;
}
.upload-result-spining {
	position: absolute;
	float: right;
}
.upload-result-line {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 15px;
	line-height: 2.5;
}
.upload-result-json {
	word-break: break-all;
	white-space: pre-wrap;
	font-size: 13px;
}

.api-page {
	width: 70%;
	margin: 48px auto;
	font-size: 14px;
	line-height: 2.0;
}
.api-h3 {
	margin-top: 16px;
}
.api-h4 {
	margin-top: 8px;
}
.api-highlight-text {
	margin-left: 8px;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.api-table-text {
	font-size: 14px;
}

.ant-tabs-tab {
  opacity: 0.5 !important;
  font-family: BentonSans-Medium !important;
  font-size: 16px !important;
  color: #37474f !important;
  letter-spacing: 0.32px !important;
  line-height: 2.5 !important;
  margin: 0 0 0 32px !important;
  padding: 5px 16px 4px 16px !important;
}
.ant-tabs-tab-active {
  opacity: 1.0 !important;
}
.ant-tabs-ink-bar {
  background-color: #37474f !important;
}